<h2>Events Search</h2>
<app-search-criteria (search)="onSearch()" [listType]="'generalList'"></app-search-criteria>
<p *ngIf="noEvents">Sorry, no events found</p>
<a id='viewBucketlist' routerLink="/bucketlist">View Bucket List</a>
<section (click)="hideEvent(i)" *ngFor='let event of events; index as i'>
  <h3>
    <img [src]="event.images[0].url" alt="">
    <a [href]='event.url'>{{event.name}}</a>
    <button type="button" (click)="saveEvent($event, event, i)" *ngIf="!eventInBucketList[i]">Add to Bucket
      List</button>
    <span *ngIf="hideEventDetails[i]"> (click for details) </span>
    <p *ngIf="eventInBucketList[i]">Event in Bucket List</p>
  </h3>
  <p *ngIf="event.hasOwnProperty('_embedded') && !hideEventDetails[i]">Venue: {{event._embedded.venues[0].name}}</p>
  <p *ngIf="!hideEventDetails[i]">Date: {{event.dates.start.localDate}} Time: {{event.dates.start.localTime}}</p>
  <p *ngIf="event.hasOwnProperty('priceRanges') && !hideEventDetails[i]">Price Range: From ${{event.priceRanges[0].min}}
    to
    ${{event.priceRanges[0].max}}</p>
</section>
<a *ngIf="page > 0" [routerLink]="prev">&lt;</a>
<p>{{page}}</p>
<a *ngIf="nextExist" [routerLink]="next">&gt;</a>
<p *ngIf="!nextExist">Max Pages reached</p>
<p *ngIf="tooManyResults">Please refine your search.</p>