section {
  border: 1px solid black;
  background-color: white;
}

#eventHeader {
  text-align: center;
}

section:hover {
  background-color: rgb(228, 234, 241);
}

a {
  text-decoration: none;
}

h3 button {
  background-color: rgb(2, 108, 223);
  color: rgb(255, 255, 255);
  border: none;
  display: block;
}

img {
  max-width: 100px;
}

#viewBucketlist {
  display: block;
  width: 300px;
  text-align: center;
  margin: 5px auto;
  background-color: rgb(168, 2, 15);
  color: white;
}

@media screen and (min-width: 768px) {
  h3 button {
    margin-left: 25px;
    display: inline-block;
  }
}