form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input {
  width: auto;
  border: 1px solid black;
}

label {
  margin: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  width: 100%;
  background-color: rgb(22, 116, 35);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1em;
  margin-top: 5px;
}

button:hover {
  cursor: pointer;
}
