section {
  border: 1px solid black;
  background-color: white;
  padding: 0 24px;
}

#bucketHeader,
#bucketFilter {
  text-align: center;
  color: white;
}

#searchLink {
  display: block;
  width: 300px;
  text-align: center;
  margin: 5px auto;
  color: white;
  font-size: 2em;
}

#searchLink:hover {
  background-color: white;
  color: rgb(22, 115, 230);
}

section:hover {
  background-color: rgb(228, 234, 241);
}

h3 button {
  background-color: rgb(168, 2, 15);
  color: rgb(255, 255, 255);
  border: none;
  display: block;
}

img {
  max-width: 100px;
}

a {
  text-decoration: none;
}

#noEvent {
  color: white;
  text-align: center;
  font-size: 2em;
}

@media screen and (min-width: 768px) {

  h3 button {
    margin-left: 25px;
    display: inline-block;
  }



}
