section {
  border: 1px solid black;
}

section:hover {
  background-color: rgb(228, 234, 241);
}

h3 button {
  background-color: rgb(168, 2, 15);
  color: rgb(255, 255, 255);
  border: none;
  display: block;
}

img {
  max-width: 100px;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {

  h3 button {
    margin-left: 25px;
    display: inline-block;
  }



}
