<h1>Bucketlist</h1>
<h2>Filter Bucketlist</h2>
<a routerLink="/event-list">Back to Search List</a>
<app-search-criteria (search)="filterList()" [listType]="bucketList"></app-search-criteria>
<h2 *ngIf="noEvents">Sorry, no events found</h2>
<section *ngFor='let event of events'>
  <h2><a [href]='event.url'>{{event.name}}</a> <button type="button" (click)="removeEvent(event)">Remove from Bucket
      List</button>
  </h2>
  <p *ngIf="event.hasOwnProperty('_embedded')">Venue: {{event._embedded.venues[0].name}}</p>
  <p>Date: {{event.dates.start.localDate}} Time: {{event.dates.start.localTime}}</p>
  <p *ngIf="event.hasOwnProperty('priceRanges')">Price Range: From ${{event.priceRanges[0].min}} to
    ${{event.priceRanges[0].max}}
  </p>
</section>
